.timer {
  &--active {
    border: 10px solid yellow;
    .card-title {
      color: navy;
    }

    .last-time-label {
      position: relative;
      top: 15%;
      font-size: 8rem;
      color: navy;
      text-align: center;
    }
  }
}

